# Replace the value of these variables with your own resuorce names and secrets
AUDIO_DEVICE_NAME="USB PnP Audio Device"
CONTAINER_REGISTRY_ADDRESS="Your ACR address"
CONTAINER_REGISTRY_USERNAME="Your ACR username"
CONTAINER_REGISTRY_PASSWORD="Your ACR password"
AZURE_COGNIOTIVE_SERVICE_KEY="Your Azure Cognitive Service key"
AZURE_COGNIOTIVE_SERVICE_REGION="Your Azure Cognitive Service region"
AZURE_OPENAI_API_KEY="Your OpenAI API key"
AZURE_OPENAI_ENDPOINT="Your OpenAI endpoint"
AZURE_OPENAI_CHATBOT_MODEL="Your OpenAI model"
AZURE_OPENAI_API_VERSION="Your OpenAI API version"
AZURE_BING_SEARCH_API_KEY="Your Bing Search API key"
AZURE_BING_SEARCH_ENDPOINT="Your Bing Search endpoint"
OPEN_WEATHER_MAP_API_KEY="Your OpenWeatherMap API key"
