openai_iot/gptskills/*.py
openai_iot/gptskills/prompts/*.txt
openai_iot/gptskills/*.pyc
openai_iot/orchestrator/*.py
openai_iot/orchestrator/*.pyc
orchestrator_requirements.txt
gptskills_requirements.txt
build/**
dist/**
OpenAI_IoT_Skill.egg-info/**
**/*.pyc
