# systemd unit file for the Python GPT Skills service

[Unit]
# Human readable name of the unit
Description=Python OpenAI IoT Orchestrator

[Service]
# Command to execute when the service is started
ExecStart=/usr/bin/python3 -m openai_iot.orchestrator.main

# Disable Python's buffering of STDOUT and STDERR, so that output from the
# service shows up immediately in systemd's logs
Environment=PYTHONUNBUFFERED=1
# You may need to set this environment variable if your ALSA library is not in the common path, else comment it out
Environment=LD_LIBRARY_PATH=/usr/lib/aarch64-linux-gnu/alsa-lib

# Automatically restart the service if it crashes
Restart=on-failure

# Our service will notify systemd once it is up and running
# Type=notify

# Use a dedicated user to run our service
# User=pi

[Install]
# Tell systemd to automatically start this service when the system boots
# (assuming the service is enabled)
WantedBy=default.target
